ul {
    /* ul 태그가 기본적으로 가지고 있는 스타일을 없앰  */
    list-style-type: none;
    padding: 0;
    margin: 0;
}


header {
    background-color: gray;
    font-weight: 900;
    font-size: large;
    height: 50px;
    margin-bottom: 50px;
    padding: 0 20px;
}


.header1 {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.header1 .menus {
    display: flex;
}

.header1 .menus li {
    margin-left: 20px;
}

.header2 {
    position: relative;
    /* display: flex; */
    /* align-items: center; */
    /* text-align: center; */
    /* line-height: 50px; */
}

.header2 .menus {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    top: 50%;

    transform: translateY(-50%);
}


.header4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header4 ul {
    display: flex;
}

.header4 ul li {
    padding: 10px;
}



.header3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header3 .menu-left {
    display: flex;
    justify-content: space-evenly;
}

.header3 .menu-left ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.header3 .menu-left ul li {
    padding-left: 20px;
}

.header3 .menu-right {
    display: flex;
    justify-content: space-evenly;
}

.header3 .menu-right {
    display: flex;
}

.header3 .menu-right li {
    padding-left: 20px;
}