img {
    transform: skew(10deg, 10deg);
    width: 500px;
    height: 300px;
}

.beach {
    position: relative;
    align-items: center;
    top: 400px;
    left: 250px;

}

.beach1 {
    position: absolute;
    z-index: 3;
}

.beach2 {
    position: absolute;
    top: 15px;
    left: 350px;
    z-index: 2;
}

.beach3 {
    position: absolute;
    top: 30px;
    left: 700px;
    z-index: 1;
}