<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>로그인 페이지</title>
  </head>
  <body>
    <h1>로그인 하세요</h1>
    <form>
      <label for="login">ID : </label>
      <input
        type="text"
        name="login"
        id="login"
        placeholder="아이디를 입력하세요"
      />
      <br />
      <label for="pwd">PASSWORD : </label>
      <input
        type="password"
        name="pwd"
        id="pwd"
        minlength="8"
        required
        placeholder="8자리 이상 입력하세요"
      />
      <br />
      <button type="submit">로그인</button>
      <a href="/reg">회원가입</a>
    </form>
  </body>
</html>
