<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include ('./includes/head', {title: '로그인페이지'}) %>
  </head>
  <body>
    <%- include('./includes/header')%>
    <!-- 유지, 보수의 용이성을 위해 여러페이지에 동일한 component를 적용시에 유용함. -->
    <h1>로그인 하세요</h1>
    <form>
      <label for="login">ID : </label>
      <input
        type="text"
        name="login"
        id="login"
        placeholder="아이디를 입력하세요"
      />
      <br />
      <label for="pwd">PASSWORD : </label>
      <input
        type="password"
        name="pwd"
        id="pwd"
        minlength="8"
        required
        placeholder="8자리 이상 입력하세요"
      />
      <br />
      <button type="submit" class="btn btn-outline-warning">로그인</button>
      <button type="submit" class="btn btn-outline-warning">
        <a href="/reg">회원가입</a>
      </button>
    </form>
  </body>
</html>
