$color_font: hsl(0, 0%, 100%);
$color_titleFont: hsl(118, 118, 118, 0.561);
$color_background: linear-gradient(
  to right bottom,
  hsl(236, 50%, 50%),
  hsl(195, 50%, 50%)
);
$color_titleBackground: linear-gradient(
  to right,
  hsl(210, 30%, 20%),
  hsl(255, 30%, 25%)
);
