// 믹스인(함수) 선언
@mixin box($size) {
  width: $size;
  height: $size;
  border-radius: 50%;
}

@mixin bodyPosition($top, $left) {
  top: $top;
  left: $left;
}

@mixin clockWise($px) {
  animation: moveClockWise#{$px} infinite 4s;
  @keyframes moveClockWise#{$px} {
    0% {
      transform: translate(0, 0);
    }
    25% {
      transform: translate($px, 0px);
    }
    50% {
      transform: translate($px, $px);
    }
    75% {
      transform: translate(0, $px);
    }
    100% {
      transform: translate(0, 0);
    }
  }
}
