// scss 파일명 앞에 _의미 : 이 파일은 css 파일로 변환될 필요가 없음을 알림.

// 변수 선언 : $ 키워드 사용
$color-first: red;
$color-second: orange;
$color-third: yellow;
$color-fourth: blue;
$color-fifth: white;
$color-sixth: black;
$color-seventh: rgb(128, 128, 204);
$color-eighth: rgb(88, 151, 180);

$animation-duration: 0.4s;

$breakpoint-sm: 360px;
