@import './variables.scss';
@import './utils.scss';

.containerCircle {
  position: relative;

  .circle {
    @include box(50px);

    &.pinkOne {
      background-color: $color-fifth;
      @include clockWise(20px);
    }
    &.yellowOne {
      @include clockWise(80px);

      background-color: $color-third;
    }
    &.blueOne {
      @include clockWise(160px);
      background-color: $color-fourth;
    }
  }
}
